/* NORMAL CSS CODE START FROM HERE
NORMAL CSS CODE START FROM HERE
NORMAL CSS CODE START FROM HERE */

:root{
    --red:#dd2d20;
    --yellow:#ffe478;
    --blue1:#0d6edf;
    --grey1:#6c757d;
    --green1:#198754;
    --red1:#dc3545;
    --yellow1:#ffc10f;
    --cyan1:#0dcaf0;
    --darkyellow:#c29b00;
}

button:focus{
     outline: lightcyan 1px solid;
}

::selection{
    background: var(--red);
    color: whitesmoke;
}

.jass-main-box{
    background: rgb(245, 222, 222);
    color: black;
    font-size: 2.5vh;
    border: none;
    padding: 30px;
    margin: 30px;
    border-radius: 15px;
    overflow-x: scroll;
}

.simple-box-jass{
    border: 1px solid grey;
    border-radius: 5px;
    width: 80vw;
    padding: 10px;
}

/* alert */

.error-alert-jass{
    background: #ffdcdf;
    border: var(--red1) solid 1px;
    border-radius: 5px;
    width: 60vw;
    padding: 10px;
    color: var(--red1);
    margin: 10px;
}
.warning-alert-jass{
    background: #fffae7;
    border: var(--darkyellow) solid 1px;
    border-radius: 5px;
    width: 60vw;
    padding: 10px;
    color: var(--darkyellow);
    margin: 10px;
}

.info-alert-jass{
    background: rgb(228, 228, 255);
    border: var(--blue1) solid 1px;
    border-radius: 5px;
    width: 60vw;
    padding: 10px;
    color: var(--blue1);
    margin: 10px;
}
.success-alert-jass{
    background: rgb(232, 255, 228);
    border: var(--green1) solid 1px;
    border-radius: 5px;
    width: 60vw;
    padding: 10px;
    color: var(--green1);
    margin: 10px;
}

.primary-alert-jass{
    background: rgb(228, 254, 255);
    border: var(--cyan1) solid 1px;
    border-radius: 5px;
    width: 60vw;
    padding: 10px;
    color: var(--cyan1);
    margin: 10px;
}
.secondary-alert-jass{
    background: rgb(209, 209, 209);
    border: var(--grey1) solid 1px;
    border-radius: 5px;
    width: 60vw;
    padding: 10px;
    color: var(--grey1);
    margin: 10px;
}


.flag-alert-jass{
    background:linear-gradient(to left, lightgreen,whitesmoke,lightsalmon);
    border: black solid 1px;
    border-radius: 5px;
    width: 60vw;
    padding: 10px;
    color: black;
    margin: 10px;
}
.unknown-alert-jass{
    background:linear-gradient(to left, lightpink,lightcyan,lightcoral,lightyellow);
    border: black solid 1px;
    border-radius: 5px;
    width: 60vw;
    padding: 10px;
    color: black;
    margin: 10px;
}


.alert-link{
    text-decoration: underline;
    color: black;
}

.warning-alert-red{
    background: #ffdcdf;
    border: var(--red1) solid 1px;
    border-radius: 5px;
    width: 60vw;
    padding: 10px;
    color: var(--red1);
    margin: 10px;
    text-align: left;
}
.icon-alert-red{
    background: url(redwarning.png);
    height: 40px;
    width: 40px;
    background-size: cover;

}
.icon-alert-green{
    background: url(greenwarning.png);
    height: 40px;
    width: 40px;
    background-size: cover;

}
.icon-alert-yellow{
    background: url(yellowwarning.png);
    height: 40px;
    width: 40px;
    background-size: cover;

}
.icon-alert-blue{
    background: url(blue\ warning.png);
    height: 40px;
    width: 40px;
    background-size: cover;

}
.warning-alert-red{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.warning-alert-yellow{
    display: flex;
    flex-direction: row;
    align-items: center;
}.warning-alert-blue{
    display: flex;
    flex-direction: row;
    align-items: center;
}.warning-alert-green{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.warning-alert-green{
    background: rgb(232, 255, 228);
    border: var(--green1) solid 1px;
    border-radius: 5px;
    width: 60vw;
    padding: 10px;
    color: var(--green1);
    margin: 10px;
}
.warning-alert-yellow{
    background: #fffae7;
    border: var(--darkyellow) solid 1px;
    border-radius: 5px;
    width: 60vw;
    padding: 10px;
    color: var(--darkyellow);
    margin: 10px;
}
.warning-alert-blue{
    background: rgb(228, 228, 255);
    border: var(--blue1) solid 1px;
    border-radius: 5px;
    width: 60vw;
    padding: 10px;
    color: var(--blue1);
    margin: 10px;
}


.suc-alert-red{
    background: url(redcomplete.png);
    height: 40px;
    width: 40px;
    background-size: cover;

}
.suc-alert-green{
    background: url(greencomplete.png);
    height: 40px;
    width: 40px;
    background-size: cover;

}
.suc-alert-yellow{
    background: url(yellowcomplete.png);
    height: 40px;
    width: 40px;
    background-size: cover;

}
.suc-alert-blue{
    background: url(bluecomplete.png);
    height: 40px;
    width: 40px;
    background-size: cover;

}




/* alert */




/* NORMAL CSS CODE END FROM HERE
NORMAL CSS CODE END FROM HERE
NORMAL CSS CODE END FROM HERE */




/* ///////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////////////////////// */






/* Responsive Code starts from here
Responsive Code starts from here
Responsive Code starts from here   */




/* Responsive Code END from here
Responsive Code END from here
Responsive Code END from here   */



/* ///////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////// */



/* Animations code start from here
Animations code start from here
Animations code start from here */









/* Animations code end from here
Animations code end from here
Animations code end from here */
